site_name: laya docs
site_url: https://radicazz.github.io/laya
site_description: SDL meets modern C++

repo_name: radicazz/laya
repo_url: https://github.com/radicazz/laya/
edit_uri: edit/main/docs/

copyright: Copyright &copy; 2025 cazz

theme:
  name: material
  palette:
    scheme: slate
    primary: black
    accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github
    logo: material/language-cpp
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.indexes
    - toc.integrate
    - content.code.copy

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/radicazz/laya
      name: laya on GitHub
  generator: false

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - def_list
  - tables
  - pymdownx.highlight
  - pymdownx.superfences

extra_css:
  - stylesheets/extra.css

plugins:
  - search

nav:
  - Getting Started: getting-started.md
  - Why Laya: goals.md
  - Key Features: features/overview.md
